<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.client.paikarcom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paikarcom">
        <activity
            android:name=".activities.auth.SignInActivity"
            android:theme="@style/AppThemeAuth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.SignUpActivity"
            android:theme="@style/AppThemeAuth" />
        <activity
            android:name=".activities.auth.OtpVerificationActivity"
            android:theme="@style/AppThemeAuth"/>
        <activity
            android:name=".activities.product.ProductListActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.product.SubCategoryActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.notification.NotificationActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.product.ShoppingCartActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.product.ProductDetailsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.CreditPolicyActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.ReturnPolicyActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.ContactUsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.ComplaintAndSuggestionActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.VisionActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.VehicleServiceActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.PaymentSystemActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.companyinfo.AboutUsActivity"
            android:theme="@style/AppThemeNoActionBar" />
    </application>

</manifest>